[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/implot"]
	path = ext/implot
	url = https://github.com/epezent/implot.git
[submodule "mkglue"]
	path = mkglue
	url = https://github.com/andoma/mkglue
